body {
    font-family: helvetica, arial, sans-serif;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fascinate Inline", sans-serif;
    font-size: 3rem;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #9f496e;
    color: #f2ebe5;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid #f2ebe5;
    border-radius: 13%;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
}

#main-content aside {
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 8px;
}

#main-content > div {   
    width: 80%;
}

form {
    text-align: left;
    margin-left: 2%;
    margin-bottom: 2%;
}

h2 {
    text-align: left;
}

body > footer {
    background-color: #9f496e;
    display: flex;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-ul > div > li > a {
    color: #f2ebe5;
    text-decoration: none;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    "main main main main"
    "main main main main"
    ;
    grid-template-columns: 5fr 5fr;
    margin-top: 30px;
}

img {
    width: 225px;
    height: 225px;
}




body {
    background-color: #f2ebe5;
}

footer > h2 {
    color: #f2ebe5;
    margin-left: 3%;
}

main > h2 {
    margin-left: 1.5%;
}

#fearless {
    margin-top: 30px;
}